/**
 * Colors
 *
 * Colours: Red (#C8140F), Black (#000000), Light Ash (#DADADE), Deep ash (#535156)
 */


/* Redefining bootstrap colors */
$LR-red: #c8140f;
$LR-black: #000;
$LR-light-ash: #dadade;
$LR-deep-ash: #535156;
$LR-facebook: #3b5998;

$brand-primary: $LR-red;