/**
 * LoveRealm Website cutouts
 * author: Vladimir Dumitraskovic
 * email: smesko85@live.com
 *
 * 
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * TRUMPS
 * Text.................Text helpers.
 */



/*---------------------------------*\
             #SETTINGS
\*---------------------------------*/

/* Defining fonts */
@import "fonts";

/* Defining colors */
@import "colors";

/* Initial boostrap components override */
@import "bootstrap-overrides";

// $icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "bootstrap-sprockets";
@import "bootstrap";


/* Font awesome */
@import "font-awesome-sprockets";
@import "font-awesome";


/*---------------------------------*\
             #COMPONENTS
\*---------------------------------*/
@import "components";



/*---------------------------------*\
             #PAGES
\*---------------------------------*/

/* Login screen */
@import "login-screen";


/* My Content */
@import "my-content";


/* Publish hashtag */
@import "publish-hashtag";

/* Report user */
@import "report-user";

/* Search */
@import "search";




/*---------------------------------*\
             #TRUMPS
\*---------------------------------*/

/* For older browsers */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


