.container
  .row
    / %nav{"data-options" => "sticky_on: large", "data-topbar" => "", :role => "navigation"}
    %nav{:role => "navigation"}
      %a{:href => "#"} The nav
      - if user_signed_in?
        = link_to "Log out", destroy_user_session_path, method: "delete"
